/* Fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Slide */
.slide-enter-active, .slide-leave-active {
  transition: max-height .25s ease;
  max-height: 200px;
}
.slide-enter, .slide-leave-to {
  max-height: 0;
}

